{
{% if sensu_api %}
  "api": {{ sensu_api | to_nice_json(indent=6) }}
  ,
{% endif %}
{% if sensu_client %}
  "client": {{ sensu_client | to_nice_json(indent=6) }} 
  ,
{% endif %}
{% if sensu_handlers_combined and (sensu_handlers or sensu_handler_plugins) %}
  {{ sensu_handlers_combined | to_nice_json(indent=6) }},
{% endif %}
{% if sensu_filters %}
  "filters": {{ sensu_filters | to_nice_json(indent=6) }}
  ,
{% endif %}
{% if sensu_checks %}
  "checks": {{ sensu_checks | to_nice_json(indent=6) }}
  ,
{% endif %}
  "rabbitmq": 
    {
{% if sensu_rabbitmq_ssl %}
      "ssl": {
        "cert_chain_file": "{{ sensu_rabbitmq_cert_file }}",
        "private_key_file": "{{ sensu_rabbitmq_key_file }}"
      },
{% endif %}
      "host": "{{ sensu_rabbitmq_host }}",
      "port": {{ sensu_rabbitmq_port }},
      "vhost": "{{ sensu_rabbitmq_vhost }}",
      "user": "{{ sensu_rabbitmq_username }}",
      "password": "{{ sensu_rabbitmq_password }}"
    }
  ,
  "redis": 
    {
{% if sensu_redis_password %}
      "password": "{{ sensu_redis_password }}",
{% endif %}
{% if sensu_redis_sentinels %}
      "sentinels": {{ sensu_redis_sentinels | to_nice_json(indent=8) }},
      "master": "{{ sensu_redis_master_name }}"
{% else %}
      "host": "{{ sensu_redis_host }}",
      "port": {{ sensu_redis_port }}
{% endif %}
    }
}